* {
    --teal: #019587;
    --green: #A7BC09;
    --dark-green: #005148;
    --navy: #01415C;
    --light-grey: #EEEEEE;
    --lighter-grey: #F5F5F5;
}

a {
    color: var(--primary, var(--teal));
}

a:visited {
    color: var(--primary, var(--dark-green));
}

a:hover, a:visited:hover {
    color: var(--green);
}