* {
    --green: #475E45;
    --dark-green: rgb(75, 87, 69);
    --light-grey: #EEEEEE;
    --lighter-grey: #F5F5F5;
}

a {
    color: var(--primary, var(--green));
}

a:visited {
    color: var(--primary, var(--green));
}

a:hover, a:visited:hover {
    color: var(--dark-green);
}