body {
    min-height: 100vh;
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif
}

#page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    flex-grow: 2;
}

.l-restrict {
    margin: 0 auto;
    max-width: 1680px;
    width: 100%;
}

.l-restrict--narrow {
    max-width: 900px;
}

.l-restrict--medium {
    max-width: 1150px;
}

.l-block {
    padding: 4rem 1rem;
}

.l-block--no-padding {
    padding-top: 0;
    padding-bottom: 0;
}